/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
   font-family: 'Helvetica Neue', Helvetica, sans-serif;
   background: #E8FFFF;
 }
 .imagesty{
   margin-top: -3%;
   margin-left: -2%;
 }
 .comments{
   background-color: #eff0f2;
   width: 30%;
   margin: 3%;
   border-radius: 3%;
  border: 1px solid #076806;
     font-size: 15px;
     display: table;
 }
 .comments-outer{
   color: #076806;
   margin-top: -3%;
 }
 .comments-div1{
  padding-left: 7%;
  margin-top: -3%;
 }

 .comments-div2{
  padding-left: 7%;
  margin: 3% 0%;
 }
.posts, .comments-textarea{
  margin-left: 3%;
}
.posts-inner{
  margin-left: 1%;
  font-weight: 600;
  font-family: sans-serif;
  color: #421168;
}
